.notification-container-bottom-left {
    left: 20px;
    bottom: 6rem;
}

.infoWrapper{
    display: flex;
    flex-direction: column;
}
.infoWrapper span{
    margin: 0.5rem 0;
    padding: 0.5rem;
}


.infoWrapper span:nth-of-type(2n) {
    background: rgb(227, 228, 230);
}


.infoWrapper span:hover{
    background-color: #2dce89 !important;
    color: #ffffff;
}
.cardsWrapper{
    display: flex;
    flex-wrap: wrap;
}
.card{
    margin: 0.5rem;
    width: 370px;
}

.img{
    /* max-width: 350px; */
    height: 250px;
}

.alert{
    width: 60%;
    margin: 5rem auto;
    text-align: center;
}